<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>16132123619-j39i6ain0uautrrrjqg5ceqf1kp2cqlj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.16132123619-j39i6ain0uautrrrjqg5ceqf1kp2cqlj</string>
	<key>API_KEY</key>
	<string>AIzaSyDvxdXX15tD-8clM_4LxVyGU_uqGNL7Rp4</string>
	<key>GCM_SENDER_ID</key>
	<string>16132123619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.urlife</string>
	<key>PROJECT_ID</key>
	<string>urapp-c7275</string>
	<key>STORAGE_BUCKET</key>
	<string>urapp-c7275.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16132123619:ios:144ff02521905df7ae8ed6</string>
</dict>
</plist>